<p id="notice"><%= notice %></p>

<p>
  <b>Pname:</b>
  <%= @origin.pname %>
</p>

<p>
  <b>Cname:</b>
  <%= @origin.cname %>
</p>

<p>
  <b>Pdetail:</b>
  <%= @origin.pdetail %>
</p>

<p>
  <b>Cdetail:</b>
  <%= @origin.cdetail %>
</p>


<!-- <%= link_to 'Edit', edit_origin_path(@origin) %> | -->
<%= link_to 'Back', origins_path %>
